#github {
	width:80px;
}

#save {
	color:white;
	padding-left:20px;
	padding-right:20px;
	padding-top:5px;
	padding-bottom:5px;	
	font-size:15px;
  background-color:black;
  border: solid 1px white;
}

#saveInput {
	height:20px;
	width:90%;
}

#wrapper {
	background-color: #A2DED0;
	border: 1px dotted lightgray;
	padding:5px;
}

#loading {
	display:none;
	color:white;
	padding-left:20px;
	padding-right:20px;
	padding-top:5px;
	padding-bottom:5px;	
	font-size:15px;
  background-color:black;
  border: solid 1px white;	
}